* {
    box-sizing: border-box;
}

img {
    height: 50px;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.white {
    color: white;
}

header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex: 1;
}

h1 {
    color: #f9faf8;
    font-size: 24px;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    padding: 10px;
    gap: 20px;
}

.top {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    justify-content: space-around;
    padding: 20px;
    flex: 3;
    gap: 5%;
}

#top-img {
    flex: 1 1 auto;
    height: 150px;
}

.intro {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.sign-up {
    width: 100px;
    background-color: #3882f6;
    border: 0;
    padding: 10px 20px;
    border-radius: 10%;
    color: white;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.box-wrapper {
    display: flex;
    flex: auto;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    align-items: center;
}

.title {
    font-weight: 900;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box img {
    height: 80px;
    border-radius: 10%;
}

.quote {
    display: flex;
    flex: 3;
    background-color: #e5e7eb;
    padding: 20px 0px 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.quote p {
    width: 80%;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 10px;
}

#p {
    margin-left: 50%;
    width: fit-content;
}

.ad-wrapper {
    display: flex;
    flex: 2;
}

.ad-box {
    display: flex;
}

.sign-up-ad {
    background-color: #3882f6;
}

footer {
    display: flex;
    flex: 1;
}